body {
  font-family: 'Arial', sans-serif;
  background-color: #121212; 
  text-align: center;
  padding-top: 50px;
  margin: 0;
  height: 100%;
}

h2 {
  color: #f0f0f0;
  font-size: 24px;
  margin-bottom: 30px;
}

.audio-controls,
.file-upload-controls,
.result-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #1DB954;  
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;  
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;  
}

button:hover {
  background-color: #1ed760;
}

input[type="file"] {
  border: 1px solid #333;
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

 
@media (max-width: 600px) {
  body {
    padding-top: 20px;
  }

  button,
  input[type="file"] {
    width: 80%;  
    padding: 12px;
  }

  .result-display {
    width: 90%;  
  }
}

 
.result-display {
  background-color: #222;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
  width: 50%;  
  max-width: 600px; 
}

p, ul {
  color: #ddd;
}

ul {
  text-align: left;
  padding: 0;
}

li {
  margin: 5px 0;
}

 
input[type='file'] {
  width: calc(100% - 40px);  
  font-size: 14px;
}

.file-upload-controls {
  position: relative;  
  display: flex;
  flex-direction: column;
  align-items: center;  
}

 
input[type='file']::before {
  content: 'Choose File';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);  
  width: 200px;  
  height: 100%;
  line-height: 2.2; 
  color: white;
  background-color: #1DB954;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

 
input[type='file'] {
  width: 200px;  
  height: 48px;  
  opacity: 0;  
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);  
  z-index: 1;  
}

 
.result-display {
  position: relative;  
  width: 200px;  
  margin-top: 20px;  
  margin-bottom: 30px;  
  align-self: center; 
}

@media (max-width: 600px) {
  body {
    padding-top: 20px;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  button,
  input[type="file"],
  .result-display {
    width: calc(100% - 40px);  
    margin-top: 10px;
    margin-bottom: 10px;
  }

   
  input[type='file']::before {
    width: calc(100% - 40px);  
      
    transform: translateX(0%);  
  }

  input[type='file'] {
    width: calc(100% - 40px);  
      
    transform: translateX(0%);  
  }

  .audio-controls,
  .file-upload-controls,
  .result-display {
    width: calc(100% - 20px); 
  }
}