body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  margin: 0;
  height: 100%;
}

h2 {
  color: #f0f0f0;
  font-size: 24px;
  margin-bottom: 30px;
}

.audio-controls,
.file-upload-controls,
.result-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #1DB954;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px 0; 
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  width: 200px; 
}

button:hover {
  background-color: #1ed760;
}

button:active{
  background-color: #92bba0;
}
input[type="file"] {
  border: 1px solid #333;
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

@media (max-width: 600px) {
  body {
    padding-top: 20px;
  }

  button,
  input[type="file"] {
    width: 80%; 
    padding: 12px;
  }

  .result-display {
    width: 90%; 
  }
}

.result-display {
  background-color: #222;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
  width: 50%; 
  max-width: 600px;
}

p, ul {
  color: #ddd;
}

ul {
  text-align: left;
  padding: 0;
}

li {
  margin: 5px 0;
}

input[type='file'] {
  width: calc(100% - 40px); 
  font-size: 14px;
}

@media (max-width: 600px) {
  input[type='file'] {
    width: calc(100% - 24px); 
  }
}

